<!DOCTYPE html>
<html>
<head>

<!-- css sheet start-->

    <!-- css components sheet start-->
    <link rel="stylesheet" type="text/css" href="../css/components/items.css"/>
    <link rel="stylesheet" type="text/css" href="../css/components/colors.css"/>
    <link rel="stylesheet" type="text/css" href="../css/components/form.css"/>
        <!-- css components sheet end-->
        <!-- css includes sheet start-->
    <link rel="stylesheet" type="text/css" href="../css/includes/header1.css"/>    
    <link rel="stylesheet" type="text/css" href="../css/includes/header2.css"/>    
    <link rel="stylesheet" type="text/css" href="../css/includes/userNavbar.css"/>    
    <link rel="stylesheet" type="text/css" href="../css/includes/footer.css"/>   
        <!-- css includes sheet end-->
        <!-- css general sheet start-->
    <link rel="stylesheet" type="text/css" href="../css/general.css"/>    
        <!-- css general sheet end-->    
        <!-- css page sheet end-->    
    <link rel="stylesheet" type="text/css" href="../css/login.css"/>
        <!-- css page sheet end-->
        <!-- css bootstrap3.4.1 sheet end-->    
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <!-- css bootstrap3.4.1 sheet end-->
    
    <!-- css sheet start-->
    
    <!-- js file start-->
        <!-- js header2 file start-->
    <script src="../js/includes/header2.js"></script> 
        <!-- js header2 file end-->
        <!-- js bootstrap file start-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <!-- js bootstrap file end-->
    
    <!-- js file end-->
    
    <title>Login</title>
</head>
<body>
<!-- sidenavbar start-->
<%- include('../include/sidenavbar'); %>
<!-- sidenavbar end-->


<div id="myBody">    
<!--header1 Start-->
    <%- include('../include/header1'); %>
<!--header1 End-->
<!--header1 Start-->
    <%- include('../include/header2'); %>
<!--header1 End-->
<div class="container formDiv " >
    <div class=" row-eq-height formContainer">
        <div class="col-lg-4 col-md-4 hidden-sm hidden-xs bgGreen verticalHorizontalCenter">
            <div class="logoFormContainer whiteColor center">Yelsabawy</div>
        </div>
        <div class="col-lg-8 col-md-8 col-xs-12 no-padding-margin">
            <div class="col-sm-12 col-xs-12 hidden-lg hidden-md bgGreen verticalHorizontalCenter" >
                <div class="logoFormContainer whiteColor" >Yelsabawy</div>
            </div>
            <div class="row flex-space-around greenColor padding-10px" >
                <div class="greenColor activeForm cursor" ><strong><a class="removeaHref" href="../auth/login">Login</a></strong> </div>
                <div  class="cursor"><a class="removeaHref" href="../auth/register">Register</a></div>
            </div>
            <div class="center padding-10px">
                <p>
                    <% if (forgetPassword !== "true"){ %>
                        If you are already Have an account please Login
                    <%}%>
                    <% if (forgetPassword === "true"){ %>
                        Please Enter Your Email to send The Code
                    <%}%>
                </p>
            </div>
            <div class="center padding-bottom-20px">
                <form action="<%- forgetPassword==='true'? '../auth/forgetPassword' : '../auth/login'  %>" method="POST">

                <% if (login==="false"){%>
                    <h5 class="redColor"> <%= message %> </h5>
                <%}%>
                <% if (forgetPasswordCantFindEmail==="true"){%>
                    <h5 class="redColor"> <%= message %> </h5>
                <%}%>


                    <input name="email" value="<%- login==='false'? email : ''  %>" type="text" class="loginInput" placeholder="Email" required ><br>
                    <% if (forgetPassword !=="true"){%>
                        <input name="password" type="password" class="loginInput" placeholder="Password" required><br>
                        <a class="margin-5px cursor"  href="../auth/forgetPassword">Forgotten your password?</a><br>
                    <%}%>
                    <button class="formButton margin-5px"><% if (forgetPassword ==="true"){%> Send Code  <%}else{%> Login <%}%></button>
                </form>
            </div>
        </div>
    </div>
</div>
</div>


      <!--footer Start-->
      <%- include('../include/footer'); %>
      <!--footer End-->

</body>
</html>